# Exportamos los datos preprocesados a una base Mysql en la nube

In [1]:
!pip install mysql-connector-python
!pip install sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 30.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [2]:
!pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [3]:
import sqlalchemy
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [39]:
from sqlalchemy import create_engine
def connectToSql():
    nombre_de_usuario = 'ukrj0df58whlhxa7'
    contrasenia = 'iObGLRpCK8gBnSCOR13c'
    nombre_de_base_de_datos = 'bkllcfna8h7ukpeyso6n'
    host = 'bkllcfna8h7ukpeyso6n-mysql.services.clever-cloud.com'

    engine = sqlalchemy.create_engine(f'mysql+mysqlconnector://{nombre_de_usuario}:{contrasenia}@{host}/{nombre_de_base_de_datos}')
    # engine = sqlalchemy.create_engine('mysql+mysqlconnector://avnadmin:AVNS_9s9YSFE_0sGge_XOZzt@carritodb-carrito.b.aivencloud.com:27498/defaultdb')

    try:
        conn = engine.connect()
        print("Conexión con la base de datos MySQL exitosa.")
        return conn, engine
    except Exception as e:
        print(f"Error al conectar con la base de datos MySQL: {e}")

Leemos los datos del csv a representar en la base sql

In [5]:
df = pd.read_csv('/content/drive/MyDrive/ANALISIS DE CARRITO ABANDONADO/3- DATA PROCESADA/dataset_para_dashboard.csv'  )

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 499998 entries, 0 to 499997
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer_id            499998 non-null  int64
 1   Purchase_date          499998 non-null  object
 2   Product_category       499998 non-null  object
 3   Product_price          499998 non-null  int64
 4   Quantity               499998 non-null  int64
 5   Total_purchase_amount  499998 non-null  int64
 6   Payment_method         499998 non-null  object
 7   Customer_age           499998 non-null  int64
 8   Returns                499998 non-null  float64
 9   Gender                 499998 non-null  object
 10  Churn                  499998 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 45.8+ MB

In [47]:
df.rename(columns={'Customer ID':'Customer_id', 'Purchase Date': 'Purchase_date', 'Product Category': 'Product_category', 'Product Price':'Product_price',
           'Total Purchase Amount':'Total_purchase_amount','Payment Method':'Payment_method', 'Customer Age':'Customer_age'}, inplace=True)

In [49]:
# si la inserción del dataframe df a la base en la nube demora más de 10 minutos particionar de esta manera y insertar una por una
# en la línea 59

# df1 = df[0:100000]
# df2 = df[100000:200000]
# df3 = df[200000:300000]
# df4 = df[300000:400000]
# df5 = df[400000:]

Nos conectamos a la base en la nube

In [53]:
conn, engine = connectToSql()

Conexión con la base de datos MySQL exitosa.

Creamos una tabla en sql con las columnas detalladas arriba

In [54]:
from sqlalchemy import Table, Column, Integer, String, MetaData, Float
meta = MetaData()

students = Table(
   'carrito', meta,
   Column('Customer_id', Integer),
   Column('Purchase_date', String(50)),
   Column('Product_category', String(50)),
   Column('Product_price', Integer),
   Column('Quantity', Integer),
   Column('Total_purchase_amount', Integer),
   Column('Payment_method', String(50)),
   Column('Customer_age', Integer),
   Column('Returns', Float),
   Column('Gender', String(50)),
   Column('Churn', Integer)
)
meta.create_all(conn)

### Insertamos datos del csv

In [59]:
df.to_sql('carrito', engine, if_exists='append', index=False)

99998

### Cerramos la conexión

In [60]:
try:
  conn.close()
  print('MySQL connection is closed')
except:
  print('Connection doesnt exists')

MySQL connection is closed